export(admbsecr)
export(angles)
export(distances)
export(make.acoustic.captures)
export(secrlikelihood)
export(secrlikelihood.angs)
export(secrlikelihood.ss)
export(secrlikelihood.toa1)
export(toa.ssq)
